.modal {
  display: flex;
  justify-content: center;
  &-backdrop {
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
   &-main {
     background-color: #fff;
     max-width:50%;
     min-width: 25%;
     max-height: 50vh;
     border-radius: 5px;
     z-index: 1000;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);

   }
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: rgb(37, 75, 37);
    font-size: 18px;
  }
  &-body {
    display: flex;
    border-bottom: 1px solid rgb(37, 75, 37);
    padding: 20px 25%;
  }
  &-footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

}

.close-btn:hover{
  color: rgb(37, 75, 37);
  cursor: pointer;
  }