.btn {
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 10px;
  border: 2px solid #65a15a;
  background-color: transparent;
  color:#65a15a;
  font-weight: bold;
  transition: background-color 200ms, border-color 200ms, color 300ms;

  &:hover{
    background-color: #65a15a;
    color:#fff;
    cursor: pointer;
  }

  &-inModal {
    font-size: 14px;
    margin:0;
    text-transform: none;

    &__yes {
      background-color: #65a15a;
      color:#fff;
      &:hover {
        background-color: rgb(37, 75, 37);
        border-color: rgb(37, 75, 37);
      }
    }
  }
  &-delete-from-cart {
    padding:5px 8px;
  }
}

.increase-product-amount, .decrease-product-amount {
  padding:5px 8px;
  margin: 0;
}