@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color:#1d1d1b;
  position: relative;
}

html{
  height: 100%;
}
#root, body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main{
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}
footer{
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}