.btn {
  margin-top:20px;
  margin-left:20px;
  padding: 10px;
  background-color: #ccc;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  font-size: 20px;

  &-first {
    background-color: #202326;
    color: #fff;
  }
  &:hover{
    cursor: pointer;
    background-color: #0b91cf;
    color:#fff;
  }
  &-inModal {
    font-size: 14px;
    margin:0;
  }
}