.header {
  display: flex;
  padding: 10px;
  margin: 0;
  background-color: #fff;
  justify-content: center;
  box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, .08);

  &-logo {
    width: 40px;
    margin-right: 60px;
    display: flex;
    padding: 5px;
    align-items: center;
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    min-width: 40%;
    flex-wrap: wrap;
  }

  &-link {
    text-decoration: none;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-right: 5px;
    }

    &.active {
      color: rgb(37, 75, 37);
      position: relative;
    }
    &.active:after{
      content:"";
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid black;
      position: absolute;
      transform: translateX(-100%) translateY(20px);
    }

    &:hover {
      color: #65a15a;
    }
    &:visited{
      color:#000;
    }
    &:visited:hover {
      color: #65a15a;
    }
    &:visited.active {
      color: rgb(37, 75, 37);
    }
    &:visited.active:hover{
      color: #65a15a;
    }
  }

}

.logo-icon {
  width:95%;
  margin-right: 5px;
}
.logo-text{
  width:5%;
  font-size: 20px;
  text-transform: uppercase;
}
.icon-logo {
  width: 100%;
}

@media screen and (max-width: 768px){

}
@media screen and (max-width: 480px){
  .header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-nav{
    margin-top: 10px;
  }

}